<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta content="text/html;charset=UTF-8">
		<title>中台禪寺消防安檢登錄系統- 公告訊息</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">

		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> 

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">
	
        <!-- import jQWidgets js -->	
        <link type="text/css" rel="Stylesheet" th:href="@{js/jqwidgets/styles/jqx.base.css}" />
        <link type="text/css" rel="Stylesheet" th:href="@{js/jqwidgets/styles/jqx.energyblue.css}" />
        <script type="text/javascript" th:src="@{js/libs/jquery-2.1.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/libs/jquery-ui-1.10.3.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxcore.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdata.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxbuttons.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxscrollbar.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxlistbox.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdropdownlist.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxmenu.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxcombobox.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxinput.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxtoolbar.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.sort.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.pager.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.selection.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.edit.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.filter.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.columnsresize.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdatetimeinput.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxcalendar.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxtooltip.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/globalization/globalize.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxwindow.js}"></script>  
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdata.export.js}"></script>  
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.export.js}"></script>  
        
	    <style type="text/css">
	        .editedRow {
	          color: #b90f0f !important;
	          font-style: italic;
	        }
	        
	        html, body, #main{
			    min-height: 100% !important;
			    height: 100%;
			    overflow:hidden;
			}
			#userPlace {
				width: 100%;
			}
			html {
				font-size: 100%;
			}
			h5 {
				font-size: 1.5rem;
				position:absolute;
			}
            aside {
                background: #dfe2ed;
            }
			aside nav {
				font-size:1rem;
			}
			aside nav span {
				font-size:1rem;
			}
            .jqx-widget, .jqx-widget-header, .jqx-widget-content, input[type=text].jqx-input, div, span, label, td {
                font-size: 16px;
            }
        </style>
	    
	    <script th:inline="javascript">
	        var checkTypeData = new Array();
	        var editedRows = new Array();
	        var checkDateOri = "";
	        var managerSignName = "";
	        
		    $(document).ready(function () {
                initGridData();         
                
                $("#userPlace").change(function () {
                    $("#userPlaceId").val($("#userPlace option:selected").val());
                });        
	        });    // End Of $(document).ready(function ()
		    
	                
		    // 取得記錄別資料清單
            function getAllAnnounceMsg() {
                var result = null;
                var checkTypeArray = [];
                $.ajax({
                    url: '../api/admin/announceMsg/getAllAnnounceMsg',
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    success: function(data) {
                        result = data;
                    } 
                 });
                 return result;
            }

          
            
            function initGridData() {
                var resultData = getAllAnnounceMsg();

	             // prepare the data
	             var source =
	             {
	                 datatype: "json",
	                 datafields: [
		                 { name: 'announcementDt', type: 'date'},
	                     { name: 'announcementContent' },
	                     { name: 'announcementSubject' },
	                     { name: 'announcementDtYYYYMMDDHHMMSS', type: 'string' }
	                 ],
	                 localdata: resultData
	             };
            	 var dataAdapter = new $.jqx.dataAdapter(source);

                
                $("#jqxgrid").jqxGrid(
                {
                    width: '100%',
                    height: '90%',
                    source: dataAdapter,
                    sortable: true,
                    columnsresize: true,
                    showfilterrow: true,
                    filterable: true,
                    theme: 'energyblue',
                    columns: [
                    	{
                            text: 'No.', sortable: false, filterable: false, columntype: 'number', width: '5%',  minwidth: 50,
                            cellsrenderer: function (row, column, value) {
                                return "<div style='text-align: left; margin-top: 5px; margin-left: 5px;'>" + (value + 1) + "</div>";
                            }
                        },
                        //{ text: '發佈時間', filtertype: 'range', datafield: 'announcementDt', width: '200', cellsformat: 'yyyy-M-d tt h:mm' },
                        { text: '發佈時間', filtertype: 'input', datafield: 'announcementDtYYYYMMDDHHMMSS', width: '20%' },
                        { text: '主旨', filtertype: 'input', datafield: 'announcementSubject', width: '20%' },
                        { text: '訊息內容', filtertype: 'input', datafield: 'announcementContent'},
                     ]
                });
            }
            
            function getLinkUrl(functionItems) {
                var url = "../admin/" + functionItems + "?userPlaceId=" + $("#userPlaceId").val();
                window.location.href = url;
            }
	    </script>
	</head>
	
	<body class="">
		<!-- HEADER -->
		<header id="header">
			<div id="logo-group">

				<span id="logo" style="width: 0;"></span>
            <h5 class="txt-color-white">   <b>中台禪寺</b> 消防安檢登錄系統</h5>

			</div>


			<!-- pulled right: nav area -->
			<div class="pull-right">
				
				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
				
					<h6 class="txt-color-white">管理者 &nbsp;&nbsp;<th:block th:text="${UserName}"></th:block>&nbsp;&nbsp;<th:block th:text="${UserId}"></th:block>&nbsp;&nbsp;IP:<th:block th:text="${UserIp}"></th:block> 
                    <span > <a class="btn btn-default btn-sm " href="logout">登出</a> </span>
					</h6>

				</div>
				<!-- end logout button -->

			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">
            <nav>
                <select id="userPlace" name="userPlace">
                    <th:block th:each="upmi:${upmis}">
                        <option th:text="${upmi.place}" th:value="${upmi.getPlaceId()}" th:selected="${upId==upmi.getPlaceId()}"></option>
                    </th:block>
                </select>
                <input type="hidden" id="userPlaceId" name="userPlaceId" th:value="${upId}" />
            </nav>
            <nav th:switch="${UserType}">
                <ul th:case="'admin'">
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('index')"><i class="fa fa-lg fa-fw fa-home txt-color-pink"></i> <span class="menu-item-parent">主頁面</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('fireCheck')"><i class="fa fa-lg fa-fw fa-bar-chart-o txt-color-pink"></i> <span class="menu-item-parent">安檢登錄 / 調閱</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('announceMsg')"><i class="fa fa-lg fa-fw fa-newspaper-o txt-color-pink"></i> <span class="menu-item-parent">公告訊息</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('checkStatusMark')"><i class="fa fa-lg fa-fw fa-question txt-color-pink"></i> <span class="menu-item-parent">問題項狀態處理</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-print txt-color-pink"></i> <span class="menu-item-parent">檢查總表</span></a>
                        <ul>
                            <li>
                                <a href="#" onclick="javascript:getLinkUrl('checkSummary')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">總表</span></a>
                                <a href="#" onclick="javascript:getLinkUrl('checkResultFollow')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">進度追蹤</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-cog txt-color-pink"></i> <span class="menu-item-parent">管理設定</span></a>
                        <ul>
                            <li>
                                <a href="#" onclick="javascript:getLinkUrl('userPlaceMapping')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">場所人員對應表</span></a>
                                <a href="#" onclick="javascript:getLinkUrl('announceSet')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">公告訊息設定</span></a>
                                <a href="#" onclick="javascript:getLinkUrl('onlineUsers')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">線上使用者查詢</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul th:case="'user'">
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('index')"><i class="fa fa-lg fa-fw fa-home txt-color-pink"></i> <span class="menu-item-parent">主頁面</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('fireCheck')"><i class="fa fa-lg fa-fw fa-bar-chart-o txt-color-pink"></i> <span class="menu-item-parent">安檢登錄 / 調閱</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('announceMsg')"><i class="fa fa-lg fa-fw fa-newspaper-o txt-color-pink"></i> <span class="menu-item-parent">公告訊息</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="javascript:getLinkUrl('checkStatusMark')"><i class="fa fa-lg fa-fw fa-question txt-color-pink"></i> <span class="menu-item-parent">問題項狀態處理</span></a>
                    </li>
                 </ul>
            </nav>
            <span class="minifyme" data-action="minifyMenu"> 
                <i class="fa fa-arrow-circle-left hit"></i> 
            </span>
        </aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->		
		<div id="main" role="main">
            <!-- MAIN CONTENT -->
            <div id="content" style="height: 100%;">
                <!-- widget grid -->
                <section id="widget-grid" style="height: 100%;">
                    <!-- row -->
                    <div class="row" style="height: 100%;">
                        <!-- NEW WIDGET START -->
                        <article style="height: 100%;">
                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" style="height: 100%;">
                                <header>
                                    <span class="fa fa-arrow-circle-right" style="margin-left: 5px; vertical-align:middle;"> 公告訊息 </span>
                                </header>
                                <div id='jqxWidget' style="height: 100%;">
                                    <div id="jqxgrid" style="height: 100%;"></div>
                                </div>    
                            </div>
                        </article>
                    </div>
                </section>
            </div>
            <br/><br/>
        </div>
		<!-- END MAIN PANEL -->
		<!-- 
        <div id='jqxwindow' style="font-size: 13px; font-family: Verdana; float: left; width: 120px;">
            <div id="msgHeader"></div>
            <div id="msgContent" style="margin: 10px">
                <div id="msg"></div><br/><br/>
                <div style="float: right;">
                    <input type="button" value="確認" style="margin-bottom: 5px;" id="btnConfirm" /><br />
                </div>
            </div>
        </div>
		 -->

        <!-- IMPORTANT: APP CONFIG -->
        <script src="js/app.config.js"></script>

        <!-- MAIN APP JS FILE -->
        <script src="js/app.min.js"></script>
	</body>
</html>