<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title>中台禪寺消防安檢登錄系統 </title>
		<meta name="description" content="">
		<meta name="author" content="">
			
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">

		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> 

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">
		
		<!-- import jQWidgets js -->	
        <link type="text/css" rel="Stylesheet" th:href="@{js/jqwidgets/styles/jqx.base.css}" />
        <link type="text/css" rel="Stylesheet" th:href="@{js/jqwidgets/styles/jqx.energyblue.css}" />
        <link type="text/css" rel="Stylesheet" th:href="@{css/ctssBlue.css}" />
        <script type="text/javascript" th:src="@{js/libs/jquery-2.1.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/libs/jquery-ui-1.10.3.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxcore.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdata.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxbuttons.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxscrollbar.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxlistbox.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdropdownlist.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxmenu.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxcombobox.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxinput.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxtoolbar.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.sort.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.pager.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.selection.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.edit.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.filter.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.columnsresize.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxcheckbox.js}"></script>
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdatetimeinput.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxcalendar.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxtooltip.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/globalization/globalize.js}"></script> 
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxwindow.js}"></script>  
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxdata.export.js}"></script>  
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxgrid.export.js}"></script>  
        <script type="text/javascript" th:src="@{js/jqwidgets/jqxtabs.js}"></script>
        
        <style type="text/css">	
			#userPlace {
				width: 100%;
			}
			html {
				font-size: 100%;
			}
			h5 {
				font-size: 1.5rem;
				position:absolute;
			}
			aside {
                background: #dfe2ed;
			}
			aside nav {
				font-size:1rem;
			}
			aside nav span {
				font-size:1rem;
			}
			.jqx-widget, div, span, label, td, h6 {
				font-size: 16px;
			}
        </style>
        
        <script th:inline="javascript">

        jQuery(document).ready(function ($) {

            var unreadList = [[${asis}]];

			// initial jqWedgets Window 
        	$("#jqxwindow").jqxWindow({ height: 500, width: 900, theme: 'energyblue', isModal: true, autoOpen: false });
        	$("#msgwindow").jqxWindow({ height: 150, width: 300, theme: 'energyblue', isModal: true, autoOpen: false, okButton: $("#okbtn"), 
        		initContent: function () {
            		$('#okbtn').jqxButton({width: '65px', height: '32px', theme: 'ctssBlue'}); 
            	}
        	});

        	// initial jqWedgets Button 
        	$("#jqxbutton").jqxButton({
        	    width: 80,
        	    height: 25,
        	    theme: 'ctssBlue'
        	});
        	
        	// initial jqWedgets Tab
        	 $('#jqxtabs').jqxTabs({ width:'100%', height: 190 , autoHeight: true, theme: 'energyblue'});

        	// unread to show
        	if( unreadList.length > 0 ){
            	
        		initGridData([[${asis}]]);    
            	$("#jqxwindow").jqxWindow('open');
            	
            }

        	$('#jqxbutton').click(function () {
            	
        		var selected = $('#jqxgrid').jqxGrid('getselectedrowindexes');

        		// check for update
        		if(!selected.length > 0){
					popupWin("提醒", "請選擇已讀訊息！");
            	}
        		else {
            		var selectedIds = [];
        			var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');
        			$.each(rowindexes, function(index){
        				var id = $('#jqxgrid').jqxGrid('getrowid', rowindexes[index]);
        				selectedIds.push(id);
            		});

            		updateRead(selectedIds);
            	}
        	});

        	// update announcement to readed
            function updateRead(selectedIds) {
	            var resultData;
	            var data ={
	                    "ids": JSON.stringify(selectedIds)
	                };
                
	            $.ajax({
	                url: '../api/admin/announcement/updateRead',
	                data: data,
	                type: 'post',
	                dataType: 'json',
	                async: false,
	                success: function(data) {
	                    popupWin("執行結果", data.message);
	                    $("#jqxgrid").jqxGrid('refresh');
	                    $("#jqxgrid").jqxGrid('clearselection');
	                    initGridData(data.asis);
	                    $("#tabContent").empty();
	                } 
	             });
            }

        	// popup window show message
        	function popupWin(header, content) {
                $("#msgheader1").empty().append("<span>" + header + "</span>");
                $("#msg1").empty().append("<div style='float: center'><span>" + content + "</span></div>");
                $("#msgwindow").jqxWindow('open');
            }

        	// initial grid
            function initGridData(resultData) {
                var data = new Array();
                if(resultData){
                    // reformat date
	                for (var i = 0; i < resultData.length; i++) {
	                	var record = resultData[i];

	             		if (typeof record.announcementDt == 'string'){
	             			record.announcementDt =  new Date(record.announcementDt);
	             		}else{
			                var adt = record.announcementDt;
			                var day = adt.dayOfMonth;
			                var month = adt.monthOfYear-1; // Month is 0-indexed
			                var year = adt.year;
			                var hr = adt.hourOfDay;
			                var min = adt.minuteOfHour;
			                var sec = adt.secondOfMinute;
			                record.announcementDt =  new Date(year, month, day, hr, min, sec);
	             		}
		                data.push(record);
	                }
	                if(data.length>0){
						resultData = data;
	                }
		             // prepare the grid data
		             var source =
		             {
		                 datatype: "json",
		                 datafields: [
			                 { name: 'messageId'},
			                 { name: 'announcementDt',},
		                     { name: 'announcementContent' },
		                     { name: 'announcementSubject' },
		                 ],
		                 id: 'messageId',
		                 localdata: resultData
		             };
	            	 var dataAdapter = new $.jqx.dataAdapter(source);
	                
	                $("#jqxgrid").jqxGrid(
	                {
	                    width: '100%',
	                    height: 200,
	                    source: dataAdapter,
	                    sortable: true,
	                    selectionmode: 'checkbox',
	                    columnsresize: true,
	                    theme: 'energyblue',
	                    columns: [
                            { text: '訊息ID', datafield: 'messageId', width: '15%' },    
                            { text: '主旨', datafield: 'announcementSubject' },  
	                        { text: '發佈時間', datafield: 'announcementDt', width: '25%', minwidth: 190, cellsformat: 'yyyy-M-d tt h:mm' }
// 	                        ,{ text: '訊息內容', datafield: 'announcementContent', width: '50%'},
	                     ]
	                });
                }
                // bind rowClick to show announcementContent
                $("#jqxgrid").bind('rowclick', function (event) { 
                	var row = event.args.rowindex;
                    var id = $('#jqxgrid').jqxGrid('getrowid', row);
                	var datarow = $("#jqxgrid").jqxGrid('getrowdata', row);
                	var announceContent = datarow.announcementContent;
                	announceContent = announceContent.replace(/\n/g, "<br/>");
                	
                    $('#jqxtabs').jqxTabs('setContentAt', 0, announceContent);
                });
			};
			
			$("#userPlace").change(function () {
			    $("#userPlaceId").val($("#userPlace option:selected").val());
			});
        });
        
        function getLinkUrl(functionItems) {
            var url = "../admin/" + functionItems + "?userPlaceId=" + $("#userPlaceId").val();
            window.location.href = url;
        }
	    </script>

	</head>
	

	<body class="">

		<!-- HEADER -->
		<header id="header">
			<div id="logo-group">

				<span id="logo" style="width: 0;"></span>
            <h5 class="txt-color-white">   <b>中台禪寺</b> 消防安檢登錄系統</h5>

			</div>


			<!-- pulled right: nav area -->
			<div class="pull-right">
				
				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
				
					<h6 class="txt-color-white">管理者 &nbsp;&nbsp;<th:block th:text="${UserName}"></th:block>&nbsp;&nbsp;<th:block th:text="${UserId}"></th:block>&nbsp;&nbsp;IP:<th:block th:text="${UserIp}"></th:block> 
					<span > <a class="btn btn-default btn-sm " href="logout" style="font-size: 16px; margin-left: 5px;">登出</a> </span>
					</h6>

				</div>
				<!-- end logout button -->

			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">
            <nav>
				<select id="userPlace" name="userPlace">
					<th:block th:each="upmi:${upmis}">
						<option th:text="${upmi.place}" th:value="${upmi.getPlaceId()}" th:selected="${upId==upmi.getPlaceId()}"></option>
					</th:block>
				</select>
				<input type="hidden" id="userPlaceId" name="userPlaceId" th:value="${upId}" />
			</nav>
			<nav th:switch="${UserType}">
				<ul th:case="'admin'">
					<li>
						<a href="#" onclick="javascript:getLinkUrl('index')"><i class="fa fa-lg fa-fw fa-home txt-color-pink"></i> <span class="menu-item-parent">主頁面</span></a>
					</li>
					<li>
						<a href="#" onclick="javascript:getLinkUrl('fireCheck')"><i class="fa fa-lg fa-fw fa-bar-chart-o txt-color-pink"></i> <span class="menu-item-parent">安檢登錄 / 調閱</span></a>
					</li>
					<li>
						<a href="#" onclick="javascript:getLinkUrl('announceMsg')"><i class="fa fa-lg fa-fw fa-newspaper-o txt-color-pink"></i> <span class="menu-item-parent">公告訊息</span></a>
					</li>
					<li>
						<a href="#" onclick="javascript:getLinkUrl('checkStatusMark')"><i class="fa fa-lg fa-fw fa-question txt-color-pink"></i> <span class="menu-item-parent">問題項狀態處理</span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-print txt-color-pink"></i> <span class="menu-item-parent">檢查總表</span></a>
						<ul>
							<li>
								<a href="#" onclick="javascript:getLinkUrl('checkSummary')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">總表</span></a>
								<a href="#" onclick="javascript:getLinkUrl('checkResultFollow')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">進度追蹤</span></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-cog txt-color-pink"></i> <span class="menu-item-parent">管理設定</span></a>
						<ul>
							<li>
								<a href="#" onclick="javascript:getLinkUrl('userPlaceMapping')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">場所人員對應表</span></a>
								<a href="#" onclick="javascript:getLinkUrl('announceSet')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">公告訊息設定</span></a>
								<a href="#" onclick="javascript:getLinkUrl('onlineUsers')"><i class="fa fa-arrow-circle-right"></i> <span class="menu-item-parent">線上使用者查詢</span></a>
							</li>
						</ul>
					</li>
				</ul>
                <ul th:case="'user'">
				 	<li>
						<a href="#" onclick="javascript:getLinkUrl('index')"><i class="fa fa-lg fa-fw fa-home txt-color-pink"></i> <span class="menu-item-parent">主頁面</span></a>
					</li>
					<li>
						<a href="#" onclick="javascript:getLinkUrl('fireCheck')"><i class="fa fa-lg fa-fw fa-bar-chart-o txt-color-pink"></i> <span class="menu-item-parent">安檢登錄 / 調閱</span></a>
					</li>
					<li>
						<a href="#" onclick="javascript:getLinkUrl('announceMsg')"><i class="fa fa-lg fa-fw fa-newspaper-o txt-color-pink"></i> <span class="menu-item-parent">公告訊息</span></a>
					</li>
					<li>
						<a href="#" onclick="javascript:getLinkUrl('checkStatusMark')"><i class="fa fa-lg fa-fw fa-question txt-color-pink"></i> <span class="menu-item-parent">問題項狀態處理</span></a>
					</li>
				 </ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>
		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">

			
			<!-- MAIN CONTENT -->
			<div id='jqxwindow' style="font-size: 13px; font-family: Verdana; float: left; margin: 20px; display:none;">
	            <div id="msgHeader">
	            	<div>
		            	<span class="widget-icon"> <i class="fa fa-arrow-circle-right"></i> </span>
		            	系統公告 <input type="button" id="jqxbutton" style="margin-left: 600px; vertical-align:middle;" value="已讀確認" />
	            	</div>
	            </div>
	            <div id="msgContent" style="margin: 10px;">
	                <div id="msg">
	                	<div id="jqxgrid"></div>
	                	<div id='jqxtabs'>
					        <ul style='margin-left: 20px;'>
					            <li>訊息內容</li>
					        </ul>
					        <div id='tabContent'>
					        </div>
					    </div>
	                </div><br/><br/>
	            </div>
	            
        	</div>
        	
        	<div id='msgwindow' style="font-size: 13px; font-family: Verdana; float: left; width: 120px; display:none;">
	            <div id="msgheader1" >
	            	<span class="widget-icon"> <i class="fa fa-arrow-circle-right"></i> </span>
	            </div>
	            <div id="msgContent1" style="margin: 10px">
	                <div id="msg1"></div><br/><br/>
	                <div style="float: right;">
	                    <input type="button" value="確認" style="margin-bottom: 5px;" id="okbtn" /><br />
	                </div> 
	            </div>
	            
       		</div>
        	
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

        <!-- IMPORTANT: APP CONFIG -->
        <script src="js/app.config.js"></script>

        <!-- MAIN APP JS FILE -->
        <script src="js/app.min.js"></script>
		
		<script type="text/template" id="tpl_asi">
			<h6>訊息內容</h6>
			<p>
				{{announcementContent}}
			</p>
		</script>

		<script src="js/myindex.js"></script>

		
	</body>

</html>